.AddProductContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 700px;
    margin: 20px auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.AddProductInputBox {
    display: flex;
    gap: 5px;
    margin: 10px;
}





.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 550;
    color: black;
    font-size: 17px;
}

.ProductPrice_Validation {
    margin-left: 81px;
    margin-top: -10px;
    font-size: small;
    color: red;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

    .form-input:focus {
        border-color: #007bff;
        outline: none;
    }

.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

    .form-textarea:focus {
        border-color: #007bff;
        outline: none;
    }

.Error {
    color: red;
    margin-left: 470px;
}

.Success {
    color: Green;
    margin-left: 470px;
}

.AddProductBtn {
    transition: .3s;
    margin: 8px;
    width: 120px;
    height: 45px;
    background-color: mediumpurple;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 15px;
    color: black;
    font-weight: 500;
}

    .AddProductBtn:hover {
        background-color: #862e94;
        transform: scale(1.03);
    }
