.ShowPaymentTableContent {
    padding: 25px 26px;
    display: flex;
    flex-direction: column;
}

.showPaymentTable {
    width: 100%;
    transition: 0.5s;
    border-collapse: collapse;
    overflow-x: auto;
}

.showPaymentTableContainer {
    margin: 0px 5px;
    margin-bottom: 35px;
    border-radius: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

.showPaymentTable thead th {
    position: sticky;
    top: 0;
    overflow-x: auto;
}

.showPaymentTable tbody {
}

.showPaymentTable th, .showPaymentTable td {
    padding: 8px;
    height: 40px;
    text-align: left;
}

.showPaymentTable th {
    background-color: mediumpurple;
    color: black;
}

.PaymentId {
    text-decoration: none;
    color: black;
}

.showPaymentTable tr:nth-child(even) {
    background-color: #f4f6f8;
}

.showPaymentTable tr:hover {
    background-color: #9551a6;
    cursor: pointer;
}
