.AddEnquiryContainer {
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-items:center;
    max-width: 700px;
    margin:20px auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#AddProductContent {
    display: flex;
    width:200px;
    flex-direction: column;
    flex: 1;
}
.AddEnquiryInputBox{
    display:flex;
    gap:5px;
    margin:10px;
}
.EnquiryAddProductBtn {
    margin: 10px;
    transition: .3s;
    margin: 8px;
    width: 90px;
    height: 33px;
    border:solid;
    border-color:darkgreen;
    border:1px;
    background-color: mediumpurple;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 13px;
    color: black;
    font-weight: 300;
}


.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 550;
    color: black;
    font-size: 17px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

    .form-input:focus {
        border-color: #007bff;
        outline: none;
    }

.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

    .form-textarea:focus {
        border-color: #007bff;
        outline: none;
    }

.AddEnquiryBtn {
    transition: .3s;
    margin: 8px;
    width: 120px;
    height: 45px;
    background-color: mediumpurple;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 15px;
    color: black;
    font-weight: 500;
}

    .AddEnquiryBtn:hover {
        background-color: #862e94;
        transform: scale(1.03);
    }
