* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: purple;
    padding:25px;
}
.fc{
    width:700px;
    padding:40px;
    background:#fff;
    border-radius:10px;
}
.row{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}
.row .column{
    flex:1 1 250px;
}
.column .title{
    font-size:20px;
    color:#333;
    text-transform:uppercase;
    margin-bottom:5px;
}
.column .input-box{
    margin:15px 0;
}
.input-box span{
    display:block;
    margin-bottom:0px;
}
.input-box .text{
    width:100%;
    padding:10px 15px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
}
.column .flex{
    display:flex;
    gap:15px;
}
.flex  .input-box{
    margin-top:5px;
}
.img{
    height:34px;
    margin-top:5px;
    filter:drop-shadow(0 0 1p #000);
}
.btn{
    width:100%;
    padding:12px;
    background:purple;
    border:none;
    outline:none;
    border-radius:6px;
    font-size:17px;
    color:#fff;
    margin-top:5px;
    cursor:pointer;
}
.btn:hover{
    background:violet;
}