.ShowEnquiryTableContent {
        padding: 25px 26px;
        display: flex;
        flex-direction: column;
}
.showEnquiryTable {
    width: 100%;
    transition: 0.5s;
    border-collapse: collapse;
    
    
    
}
.showEnquiryTableContainer {
    margin: 0px 5px;
    margin-bottom: 35px;
    border-radius: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}
.showEnquiryTable thead th {
    position: sticky;
    top: 0;
    overflow-x: auto;
}
.showEnquiryTable tbody {
    
}
    .showEnquiryTable th, .showEnquiryTable td {
        padding: 8px;
       height:40px;
       
        text-align: left;
    }

    .showEnquiryTable th {
        background-color: mediumpurple;
        color: black;
    }

.EnquiId {
    text-decoration: none;
    color: black;
}
.showEnquiryTable tr:nth-child(even) {
    background-color: #f4f6f8;
}

.showEnquiryTable tr:hover {
    
    background-color: #9551a6;
    cursor: pointer;
   
   
}
.EnquiryStatusSelector{
    display:grid;
    justify-items:flex-end;
    margin-right:20px;
    margin-bottom:20px;
   
}
.DropDownList1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:white;
    border:none;
    padding:5px;
    border-radius:10px;
}
